version: 2.1
orbs:
  win: circleci/windows@4.1.1
parameters:
  lockindex:
    type: string
    default: '1'
jobs:
  Core Chrome:
    docker:
      - image: satantime/puppeteer-node:18.6.0-buster
    steps:
      - checkout
      - restore_cache:
          key: root-<< pipeline.parameters.lockindex >>-{{ arch }}-{{ checksum "package-lock.json" }}
      - run:
          name: Install
          command: |
            if [ ! -d "./node_modules/" ]; then
              npm ci --no-optional --ignore-scripts && \
              node ./node_modules/puppeteer/install.js && \
              ./node_modules/.bin/ngcc
            fi
      - save_cache:
          key: root-<< pipeline.parameters.lockindex >>-{{ arch }}-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run:
          name: Prettier
          command: npm run prettier:check
      - run:
          name: Lint
          command: npm run ts:check
      - run:
          name: Tests
          command: WITH_COVERAGE=1 npm run test
      - store_test_results:
          path: ./test-reports
      - store_artifacts:
          path: ./test-reports/coverage
  Core IE:
    executor:
      name: win/default
      shell: bash.exe
    steps:
      - checkout
      - run: nvm install $(cat .nvmrc)
      - run: nvm use $(cat .nvmrc)
      - run:
          name: NPM Shell
          command: npm config set script-shell bash.exe
      - restore_cache:
          key: root-<< pipeline.parameters.lockindex >>-{{ arch }}-{{ checksum "package-lock.json" }}-{{ checksum ".nvmrc" }}
      - run:
          name: NPM Install
          command: |
            if [ ! -d "node_modules/" ]; then
              npm ci --no-optional --ignore-scripts
              npx ngcc
            fi
      - save_cache:
          key: root-<< pipeline.parameters.lockindex >>-{{ arch }}-{{ checksum "package-lock.json" }}-{{ checksum ".nvmrc" }}
          paths:
            - ./node_modules
      - run:
          name: Unit Tests
          command: npm run test -- --reporters=junit --browsers=IECi
      - store_test_results:
          path: ./test-reports
    environment:
      IE_BIN: 'C:\Program Files\Internet Explorer\iexplore.exe'
workflows:
  version: 2
  build:
    jobs:
      - Core Chrome
#      - Core IE:
#          requires:
#            - Core Chrome
